black
earthengine-api
duckdb
folium
geemap
geopandas
gdal==3.5.2
geowrangler==0.1.1
loguru
mapclassify
matplotlib
nbformat
numpy
openpyxl
pandas
pandas-gbq
plotly
pre-commit
pygeos
pytest
seaborn
shap
tqdm
rasterio
rasterstats
