black
folium
geopandas
gdal==3.5.2
# geowrangler
# use latest version not yet on pypi
# git+https://github.com/thinkingmachines/geowrangler.git
git+https://github.com/thinkingmachines/geowrangler.git@feat/optimize-bingtilegrid
loguru
mapclassify
matplotlib
numpy
pandas
pandas-gbq
pre-commit
pytest
seaborn
tqdm
rasterio
rasterstats
